@use "../abstracts" as *;

/* Main */
.container {
  max-width: 1100px;
  margin: 2.4rem auto 4rem;
  padding: 0 1.6rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.section-card {
  background-color: $color-cards;
  border-radius: $color-detalles;
  padding: 2rem;
 }