@use "..abstracts" as *;

/* Scrollers */
.scroller {
  display: flex;
  gap: 1.2rem;
  overflow-x: auto;
  padding: 1rem 0.4rem 0.6rem;
  scroll-snap-type: x mandatory;
  border-radius: 10px;
}

.scroller::-webkit-scrollbar {
  height: 10px;
}

.scroller::-webkit-scrollbar-thumb {
  background-color: $texto-header;
  border-radius: 999px;
}

.product-thumb {
  flex: 0 0 auto;
  width: 170px;
  height: 170px;
  object-fit: contain;
  background-color: $fondo-cards;
  border-radius: 12px;
  padding: 0.8rem;
  box-shadow: $sombra-cards;
  scroll-snap-align: start;
}