@use "sass:map";
@use "sass:list";

$color-fondos: #7CB9E8;
$fondo-header: black;
$color-texto: #260101;
$color-detalles: #4B61D1;
$color-bordes: #F2DABD;
$texto-header: #002fa7;
$color-cards: #AFDBF5;
$texto-cards: #318CE7;
$sombra-cards: 10px 10px 5px $color-fondos;
$fondo-cards: #E1EBEE;